.main {
    
    &__wrapper {
        padding: 1.25rem;
        height: 100%;
        background-color: #f6f8fc;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 120rem;
    }

    &__title {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
    }
}